<div class="row d-none">
  <div class="col-sm-12">
    <h5 class="subTitle">Contact</h5>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label>Salutation</label>
      <select class="form-control">
        <option>Mrs.</option>
        <option>Miss.</option>
      </select>
    </div>
  </div>
  <div class="col-sm-12 col-md-6" >
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" type="text" placeholder="First Name">
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" type="text" placeholder="Last Name">
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <div class="d-flex align-items-center justify-content-between mb-2">
        <label class="mb-0">Email</label>
        <div class="csRadioBtn form-group mb-0">
          <label class="radioBtn checkBox mb-0"><strong>Set as default email</strong>
            <input type="checkbox" checked="checked" name="Types">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <input class="form-control" type="email" placeholder="Email">
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label>Business</label>
      <input class="form-control" type="text" placeholder="Business">
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="form-group">
      <label>Mobile</label>
      <input class="form-control" type="text" placeholder="Mobile">
    </div>
  </div>

  <div class="col-sm-12">
    <div class="actionBtn text-right">
      <button type="button" class="btn primary-btn comBtn">Save</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table tableBodyScroll">
        <thead>
          <tr>
            <th>First Name <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
            <th>Email <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
            <th>Phone Number <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
            <th class="actionCol">Action</th>
          </tr>
        </thead>
        <tbody class="boxscroll">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <!-- <tr>
            <td><a href="#contactWrapper" class="scrollDown">William</a></td>
            <td>qwqer@gmail.com</td>
            <td>0022559944</td>
            <td class="actionCol">
              <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td><a href="#contactWrapper" class="scrollDown">Albania</a></td>
            <td>ouou@gmail.com</td>
            <td>0022559944</td>
            <td class="actionCol">
              <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td><a href="#contactWrapper" class="scrollDown">Barbados</a></td>
            <td>ytuu@gmail.com</td>
            <td>0022559944</td>
            <td class="actionCol">
              <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
            </td>
          </tr>
          <tr>
            <td><a href="#contactWrapper" class="scrollDown">Belarus</a></td>
            <td>asd@gmail.com</td>
            <td>0022559944</td>
            <td class="actionCol">
              <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="col-sm-12 mt-3">
    <div class="actionBtn text-right">
      <a href="#contactWrapper" class="btn primary-btn comBtn viewForm">Add New</a>
    </div>
  </div> -->
</div>
