<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="loginWrapper">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <h2>Add Items</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="items">Item</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Add Item</li>
                </ol>
              </nav>
            </div>
            <div class="col-sm-12 col-md-8">
              <div class="form-group d-flex align-items-center justify-content-end">
                <span class="labelNo"><label class="mb-0">Job No.</label> <strong class="jobId">#1245</strong></span>
                <a href= "javascript:void(0);" class="btn primary-btn comBtn mr-1">Save & Add More Items</a> 
                <a href="invoices" class="btn primary-btn comBtn">Create Invoices</a> &nbsp;
                <a href="new-job" class="btn primary-btn comBtn">Add Job</a>
              </div>
            </div>
          </div>
          <form class="mt-2">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Item Source</label>
                  <div class="csRadioBtn d-flex">
                    <label class="radioBtn">Stock Item
                      <input type="radio" checked="checked" name="Types">
                      <span class="checkmark"></span>
                    </label>
                    <label class="radioBtn">Non-Stock Item
                      <input type="radio" name="Types">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label>Stock Item</label>
                  <select class="form-control">
                    <option>Select Stock Item</option>
                    <option>2 Man Job || 2nd man required to complete job</option>
                    <option>Runs Out || Arrived on site and inspected add components of the hot water</option>
                    <option>Nocharl || 2nd man required to complete job</option>
                    <option>Open Circuit || Arrived on site and inspected add components of the hot water</option>
                    <option>Adjust Flow || 2nd man required to complete job</option>
                    <option>Shower || Arrived on site and inspected add components of the hot water</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Price Excluding GST</label>
                  <input class="form-control" type="text" placeholder="Price Excluding GST">
                </div>
                <div class="form-group d-flex align-items-center">
                  <label class="mb-0">Total Price</label> <strong class="jobId">$0.00</strong>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Description</label>
                  <div class="useFieldIcon">
                    <textarea class="form-control" placeholder="Description"></textarea>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-sm-12 mt-3">
                <div class="table-responsive">
                  <table class="table tableBodyScroll">
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>GST</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th class="actionCol">Action</th>
                      </tr>
                    </thead>
                    <tbody class="boxscroll">
                      <tr>
                        <td><a href="#">Asdd</a></td>
                        <td>25</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">Swerr</a></td>
                        <td>78</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">Wetet</a></td>
                        <td>75</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">qtytu</a></td>
                        <td>25</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">Rtut</a></td>
                        <td>45</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">Hyiuy</a></td>
                        <td>456</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                      <tr>
                        <td><a href="#">Cgfhfh</a></td>
                        <td>23</td>
                        <td>10%</td>
                        <td>Good</td>
                        <td>$250</td>
                        <td class="actionCol">															
                          <i class="fa fa-trash-o text-danger"  title="Delete" aria-hidden="true"></i>														
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>