<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="loginWrapper">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2>Items</h2>
            </div>
                <div class="col-sm-12 col-md-6 text-right">
                <div class="form-group">
                  <div class="actionBtn">
                    
                    <a href="add-item" class="btn primary-btn comBtn mr-1">Add Item</a>	
                    <a href="new-job" class="btn primary-btn comBtn ">Add Jobs</a>	
                  </div>
                </div>
              </div>
          </div>
          <form class="mt-4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Customers Search</label>
                  <div class="form-group typeableWrapper">
                    <select class="form-control chooseOption" placeholder="Customer Name">
                      <option></option>
                    </select>
                  </div>
                </div>
              </div>	


            </div>
            <div class="row">
              <div class="col-sm-12 mt-2">
                <div class="table-responsive">
                  <table class="table tableBodyScroll">
                    <thead>
                      <tr>
                        <th>Name<i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>														
                        <th>Unit Price <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
                        <th>Total <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
                        <th class="actionCol">Action </th>
                      </tr>
                    </thead>
                    <tbody  class="boxscroll">
                      <tr>
                        <td><a href="autofil-item">James</a></td>
                        <td>$78</td>														
                        <td>$79</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Oliver</a></td>
                        <td>$78</td>														
                        <td>$58</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Noah</a></td>
                        <td>$48</td>														
                        <td>$56</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Christian</a></td>
                        <td>$49</td>														
                        <td>$67</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Alexander</a></td>
                        <td>$48</td>														
                        <td>$98</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Daniel</a></td>
                        <td>$15</td>														
                        <td>$78</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Elijah</a></td>
                        <td>$22</td>														
                        <td>$87</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Benjamin</a></td>
                        <td>$35</td>														
                        <td>$49</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                      <tr>
                        <td><a href="autofil-item">Samuel</a></td>
                        <td>$20</td>														
                        <td>$48</td>	
                        <td class="actionCol"><i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i></td>													
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
