<section class="mainScreen">
  <div class="loginForm">
    <h3 class="text-center">Login</h3>
    <div class="loginSection">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" formControlName="username">
        </div>
        <!-- <div class="help-block" *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
          <span *ngIf="loginForm.get('username').errors.required">
            <p><i class="fas fa-exclamation-circle"></i> You need to enter your username.</p>
          </span>
        </div> -->

        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" formControlName="password">
        </div>
        <!-- <span class="help-block" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
          <div *ngIf="loginForm.get('password').errors.required">
            <p><i class="fas fa-exclamation-circle"></i> You need to enter your password.</p>
          </div>
        </span> -->

        <div class="csRadioBtn form-group">
          <label class="radioBtn checkBox">Remember me
            <input type="checkbox" name="Types">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="actionBtn text-center mt-4">
          <button type="button" class="btn primary-btn comBtn mr-1">Cancel</button>
          <button type="submit" class="btn primary-btn comBtn">Login</button>
        </div>
      </form>
    </div>
  </div>
</section>