<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="loginWrapper">
          <div class="row">
            <div class="col-sm-12">
              <h2>Setting</h2>
            </div>
          </div>
          <form class="mt-4">								
            <div class="row">

              <div class="col-sm-12">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" class="active" href="#home">Update Employees</a></li>
                  <li><a data-toggle="tab" href="#menu1">Update System User</a></li>
                </ul>

                <div class="tab-content mt-3">
                  <div id="home" class="tab-pane fade in active show">
                    <h4 class="mt-4">Update Employees</h4>
                    <div class="bgShadow mt-4">
                      <div class="row">
                        <div class="col-sm-12 col-md-5">
                          <div class="form-group">
                            <label>First name</label>
                            <input class="form-control" type="text" placeholder="First name">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-5">
                          <div class="form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Last Name">
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-2 mt-2">
                          <label></label>
                          <div class="actionBtn mb-4 text-center">
                            <button type="button" class="btn primary-btn comBtn">Save</button>
                          </div>
                        </div>					
                      </div>

                      <div class="table-responsive popupTable">
                        <table class="table tableBodyScroll">
                          <thead>
                            <tr>
                              <th>First name <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
                              <th>Last Name <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>								
                              <th class="actionCol">Action</th>
                            </tr>
                          </thead>
                          <tbody class="boxscroll">
                            <tr>
                              <td>Atomic</td>
                              <td>Ashfield</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Atomic</td>
                              <td>Ashfield</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Atomic</td>
                              <td>Ashfield</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>Atomic</td>
                              <td>Ashfield</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                                        
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  
                  <div id="menu1" class="tab-pane fade">
                    <h4 class="mt-4">Security Maintenance</h4>
                    <div class="bgShadow">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="actionBtn mb-3 mt-3">
                            <button type="button" class="btn primary-btn comBtn" data-toggle="modal" data-target="#changePass">Change Password</button>
                            <button type="button" class="btn primary-btn comBtn" data-toggle="modal" data-target="#logOn">User logged On</button>
                            <button type="button" class="btn primary-btn comBtn" data-toggle="modal" data-target="#userMainten">User Maintenance</button>
                          </div>					
                        </div>					
                      </div>

                      <div class="table-responsive popupTable ">
                        <table class="table tableBodyScroll">
                          <thead>
                            <tr>
                              <th>Security Level <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>
                              <th>Security Description <i class="fa fa-sort shortingIcon" aria-hidden="true"></i></th>								
                              <th class="actionCol">Action</th>
                            </tr>
                          </thead>
                          <tbody class="boxscroll">
                            <tr>
                              <td>1</td>
                              <td>Superuser</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Administratin</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Superuser</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Administratin</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Superuser</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>Administratin</td>
                              <td class="actionCol">
                                <i class="fa fa-trash-o text-danger" title="Delete" aria-hidden="true"></i>
                              </td>
                            </tr>
                                        
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>