<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="loginWrapper">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h2>New Jobs</h2>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="../jobs">Job</a></li>
                  <li class="breadcrumb-item active" aria-current="page">New job</li>
                </ol>
              </nav>
            </div>

            <div class="col-sm-12 col-md-6">
              <div class="form-group d-flex align-items-center justify-content-end">
                <span class="labelNo"><label class="mb-0">Job No.</label> <strong class="jobId">#1245</strong></span>
                <a href="add-item" class="btn primary-btn comBtn mr-1">Save & Add Items</a>
                <button type="button" class="btn primary-btn comBtn">Save</button>
              </div>
            </div>
          </div>
          <form [formGroup]="addJobsForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-12 col-md-6 mt-3">
                <div class="form-group">
                  <label>Customer Name</label>
                  <select class="form-control">
                    <option>Select Customer Name</option>
                    <option>2 Man Job || 2nd man required to complete job</option>
                    <option>Runs Out || Arrived on site and inspected add components of the hot water</option>
                    <option>Nocharl || 2nd man required to complete job</option>
                    <option>Open Circuit || Arrived on site and inspected add components of the hot water</option>
                    <option>Adjust Flow || 2nd man required to complete job</option>
                    <option>Shower || Arrived on site and inspected add components of the hot water</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <div class="actionBtn topSpace">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#addCustomerPopup"
                      class="btn primary-btn comBtn mr-1">New Customer</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <h5 class="subTitle">Job Address <div class="alertCheck"><input type="checkbox" name="Types"> <span
                          class="ml-1">Same as Customers</span></div>
                    </h5>
                  </div>

                </div>
              </div>
              <div class="col-sm-12 col-md-6 ">
                <div class="form-group">
                  <label>Owner Name</label>
                  <input class="form-control" type="text" formControlName="ownerName" placeholder="Owner Name">
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Address 1</label>
                  <input class="form-control" type="text" formControlName="address1" placeholder="Address 1">
                </div>
                <div class="form-group">
                  <label>Address 2</label>
                  <input class="form-control" type="text" formControlName="address2" placeholder="Address 2">
                </div>
                <div class="form-group">
                  <label>Address 3</label>
                  <input class="form-control" type="text" formControlName="address3" placeholder="Address 3">
                </div>
                <div class="form-group">
                  <label>Suburb</label>
                  <select class="form-control" formControlName="suburb">
                    <option value="select1">Select 1</option>
                    <option value="select2">Select 2</option>
                    <option value="select3">Select 3</option>

                  </select>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-7">
                    <div class="form-group">
                      <label>State</label>
                      <select class="form-control" formControlName="state">
                        <option value="select1">Select 1</option>
                        <option value="select2">Select 2</option>
                        <option value="select3">Select 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-5">
                    <div class="form-group">
                      <label>Post Code</label>
                      <input class="form-control" type="text" formControlName="postCode" placeholder="Post Code">
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Job Description</label>
                  <div class="useFieldIcon">
                    <textarea class="form-control" formControlName="description" placeholder="Job Description"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label>Page No</label>
                  <input class="form-control" type="text" formControlName="pageNo" placeholder="Page No">
                </div>
                <div class="form-group">
                  <label>Employee</label>
                  <select class="form-control" formControlName="employee">
                    <option value="William">William</option>
                    <option value="James">James</option>
                    <option value="Oliver">Oliver</option>
                    <option value="Noah">Noah</option>
                    <option value="Liam">Liam</option>
                    <option value="Christian">Christian</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Completed Date</label>
                  <input class="form-control" type="date" formControlName="completedDate">
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control" formControlName="status">
                    <option value="select1">Select 1</option>
                    <option value="select2">Select 2</option>
                    <option value="select3">Select 3</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label>Date Tank Installed</label>
                      <input class="form-control" type="date" formControlName="dateTankInstalled" placeholder="Date Tank Installed">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                      <label>Letter Send</label>
                      <input class="form-control" type="date" formControlName="letterSend">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-12 mt-2">
                <div class="form-group actionBtn text-right">
                  <a href="add-item" class="btn primary-btn comBtn mr-1">Save & Add Items</a>
                  <button type="submit" class="btn primary-btn comBtn">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>